In [1]:
import pandas as pd
import numpy as np

In [2]:
stations = pd.read_pickle("./data/Station_dataframe.pickle")
sensors = pd.read_pickle("./data/Sensor_dataframe.pickle")

In [3]:
stations.head()

,latitude,longitude,name,note,station_type,sensor_list
id,,,,,,
1,39.239953,9.147368,MARCONI_I,Viale Marconi ingresso,2,"1,2"
2,39.239910,9.147421,MARCONI_U,Viale Marconi uscita,2,"3,4"
3,39.253167,9.113088,PIRRI_I,Circonvallazione Pirri - Via Quasimodo IN,2,"5,6"
4,39.253185,9.113191,PIRRI_U,Circonvallazione Pirri - Via Quasimodo OUT,2,"7,8"
5,39.257385,9.089077,MONASTIR_I,Viale Monastir IN,2,"10,9"

In [4]:
sensors.head()

   name                                    note  station_id  sensor_type
id
1    S1                   Viale Marconi ingr dx           1            4
2    S2                   Viale Marconi ingr sx           1            4
3    S3                 Viale Marconi uscita dx           2            4
4    S4                 Viale Marconi uscita sx           2            4
5    S5  Circonvallazione Pirri - Via Quasimodo           3            4

In [5]:
stations = stations[stations['latitude'].notnull()]

In [6]:
sensors = sensors[[x in stations.index for x in sensors['station_id']]]

In [7]:
denorm = sensors.copy()

In [8]:
denorm.loc[:, 'note'] = stations.loc[sensors['station_id'], 'note'].values + ' ' + sensors['note'].values
denorm.loc[:, 'latitude'] = stations.loc[sensors['station_id'], 'latitude'].values
denorm.loc[:, 'longitude'] = stations.loc[sensors['station_id'], 'longitude'].values
denorm.loc[:, 'station_name'] = stations.loc[sensors['station_id'], 'name'].values

In [9]:
denorm.to_csv('./data/sensor_data_denorm.csv')